body{
    color:white;
    background-color: gray;
}
h1 {
    background
    color: black;
    text-align: center;
    background-color:black ;
    
    
    

    }
    p{
        background-color: black;
        margin: 40px 54px 40px 45px;
    }
ul{
    color: white;
}
h2 {
    color: white;
    background-color: black;
}
h3{
    color: white;
    background-color: black;

}
a{
    color: white;

}
li{
    color: white;
    background-color: black;
}